#home {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
  }
  
  #home .name {
    color: #e31b6d;
  }
  
  #greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
#greeting div {
    height: 4vw;
}