#home {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8vh;
  padding-top: 0;
  position: relative;
  overflow-x: hidden;
}

.description {
  text-align: center;
}
@media screen and (max-width: 1000px) {
  #home {
    font-size: 10vw;
  }

  #home .description {
    font-size: 7vw;
  }

  #root #greeting {
    gap: 2vh;
    padding-bottom: 5vh;
  }
  #root #wave {
    aspect-ratio: 600/900;
    background-position: bottom;
    height: 100%;
  }
  #root .layer1 {
    background-image: url("../assets/backgrounds/wave-mobile2.svg"), url("../assets/backgrounds/wave-upper-mobile.svg");
  }
  #link-container img {
    max-width: calc(64px - 10rem);
  }
  
  #root #linkedin {
    height: 2rem;
    width: auto;
  }
  
  #root #email {
    height: 2.2rem;
    width: auto;
  }

  #root #github {
    height: 2.6rem;
    width: auto;
  }
}

#home .name {
  color: #eb005e;
}

#greeting {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vh;
  justify-content: flex-start;
  z-index: 4;
}

#text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
}
#buttons-container {
  display: flex;
  flex-direction: column;
}
#greeting #resume {
  transition-delay: 1250ms;
}
#greeting #view-work {
  transition-delay: 1700ms;
}
#greeting .name, #greeting .description {
  cursor: default;
  text-align: center;

}
#greeting .title {
  font-size: 5rem;
}
.description {
  color: white;
  font-size: 6vh;
}
.wave {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#wave {
  position: absolute;
  bottom: 0;
  width:400vw;
  max-width: 5500px;
  z-index: 3;
  cursor: default;
}

.layer1 {
  background-image:  url("../assets/backgrounds/stars.png");
}
.home-button {
  border: 2px solid white;
  border-radius: 0;
  background-color: #eb005e00;
  font-size: 1.5vh;
  color: white;
  width: 17vh;
  max-width: 195px;
  margin-bottom: .8vh;
}

#link-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

#link-container img {
  max-width: 64px;
}

#linkedin {
  height: 50px;
  width: auto;
}

#email {
  width: 55px;
}

.grow {
  transition: all .5s ease-in-out;
}

.grow:hover {
  transform: scale(1.2);
}
