html, body, #root, .content {
  margin: 0;
  scroll-behavior: smooth;
  width: 100%;
}
html {
  height: 100%;
  overflow-x: hidden;
}

section {
  background: radial-gradient(ellipse at bottom, #1b2735 0%,#090a0f 100%);
  width: 100%;
}

#skills {
  background: radial-gradient(ellipse at bottom, #1b2735 0%,#090a0f 100%);
}

#projects {
  background: radial-gradient(ellipse at top,  #1b2735 0%,#090a0f 100%);
}

#contact {
  background: radial-gradient(ellipse at bottom, #1b2735 0%,#090a0f 100%);

}


:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: bold;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: #e31b6d;
  transition: .4s;
}
.section-in-view {
  color: #e31b6d;
  transition: .5s;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 2vh;
  padding-bottom: 1vh;
  z-index: 5;
  font-size: 2vh;
  background-color: transparent;
}

#links-container {
  display: flex;
  justify-content: space-between;
  gap: 5vw;
}

section {
  padding-top: 4vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw;
  max-width: 100vw;
}

@media screen and (max-width: 600px) {
  section {
    min-height: calc(100vh + 50px);
  }
  .section-heading {
    margin-top: 50px;
  }
}

#root .hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

#root .show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.section-heading {
  font-size: 5vh;
  color: #e31b6d;

}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}




